form(action="", method="post")
    input(id="modelo" ,type="text", name="modelo", placeholder="Modelo" )
    br
    br
    input(id="marca", type="text", name="marca", placeholder="Marca" )
    br
    br
    input(id="tipo", type="text", name="tipo", placeholder="Tipo" )
    br
    br
    input(id="precio", type="number", name="precio", placeholder="Precio", min="0")
    br
    br
    input(id="registerbtn", type="submit", value="register watch", formaction="/")
    br
    br
    input(id="getbtn", type="submit", value="Get watches", formaction="")
    br
    br
    input(id="delbtn", type="submit", value="Delete a watch", formacion="")
    br
    br
    input(id="updatebtn", type="submit", value="Update a watch", formacion="")